<%= semantic_form_for [:admin, @playlist], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.inputs "Details" do %>
    <%= f.input :name %>
    <%= f.input :active %>
  <% end %>

  <%= f.inputs "Playlist Section" do %>
    <% f.has_many :playlist_sections, heading: 'Secciones', allow_destroy: true do |ps| %>
      <% ps.input :name %>

      <% ps.has_many :playlist_items, heading: 'Canciones', allow_destroy: true do |pi| %>
        <% pi.input :position %>
        <% pi.input :song %>
      <% end %>

      <% ps.has_many :scriptures, heading: 'Escrituras', allow_destroy: true do |sc| %>
        <div data-controller="scripture-form">
          <% sc.input :book_id,
                      as: :select,
                      collection: @bible.books.map{|book| [book.title, book.title]},
                      input_html: {
                        "data-scripture-form-target": "book",
                        "data-action": "change->scripture-form#handleBookChange"
                      }
          %>

        <% sc.object.book_id = @bible.books.first.title if sc.object.book_id.nil? %>
        <% book = @bible.books.find{|book| book.title == sc.object.book_id }%>
        <% chapters = book.chapters.map{|chapter| ["#{chapter.book_title} ##{chapter.num}", chapter.num]}%>
        <% chapter = book.chapters.find{|chapter| chapter.num == sc.object.chapter_num.to_i } %>
        <% verses = chapter ? chapter.verses.map{|verse| verse.num} : []%>

          <% sc.input :chapter_num,
                      as: :select,
                      collection: chapters,
                      input_html: {
                        "data-scripture-form-target": "chapterNum",
                        "data-action": "change->scripture-form#handleChapterNumChange"
                      }
          %>
          <% sc.input :verses,
                      as: :select,
                      multiple: true,
                      collection: verses,
                      input_html: {
                        "data-scripture-form-target": "verses",
                        "data-action": "change->scripture-form#handleVersesChange"
                      }
          %>
          <% sc.input :content,
                      input_html: {
                        "data-scripture-form-target": "content"
                      }
          %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= f.actions %>
<% end %>
