<script type="text/javascript">
  window.OVERRIDE_API_KEY = "<%= ENV["TXT42_KEY"]%>";
</script>

<%= javascript_include_tag Ckeditor.cdn_url %>
<%= javascript_include_tag "ckeditor/config" %>
<%= javascript_include_tag "ckeditor/plugins/chat-gpt/plugin" %>

<%= semantic_form_for [:admin, @study], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.inputs "Details" do %>
    <%= f.input :title %>
    <li class="text input optional" id="study_content_input">
      <label for="study_content" class="label">Content</label>
      <fieldset>
        <%= f.cktext_area :content, data: {controller: "ckeditor"}, ckeditor: { uiColor: '#efefef', toolbar: 'Full' } %>
      </fieldset>
    </li>
  <% end %>

  <%= f.actions %>
<% end %>
